<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Online Courses</title>
    <style>
        .container {
            display: flex;
            justify-content: space-between;

        }
        .container div {
            margin: 0 20px;
            padding: 10px;
            border: dotted black;
            width: calc((100% - 80px) / 3);
        }
        h1 {
            text-align: center;
        }
        ul {
            list-style: none;
            padding: 0;
        }
    </style>
</head>
<body>

<h1>Welcome to Online Courses Info</h1>

<div class="container">
<div>
    <h2>Courses</h2>
    <ul>
        <li th:each="course : ${courses}">
            <span th:text="${course.title}">Course Title</span> -
            <span th:text="${course.description}">Course Description</span>
            (<span th:text="${course.duration}">Course Duration</span> hours)
        </li>
    </ul>
    <!-- Courses with word "Java" in it -->
    <h2>Filtered courses with word "Java" in it</h2>
    <ul>
        <li th:each="course : ${streamCoursesWithJava}">
            <span th:text="${course.title}">Course Title</span> -
            <span th:text="${course.description}">Course Description</span>
            (<span th:text="${course.duration}">Course Duration</span> hours)
        </li>
    </ul>
    <h2>Duplicated Durations of Courses</h2>
    <ul>
        <li th:each="entry : ${duplicateDurationsOfCourses}">
            <span th:text="${entry.key}">Course</span> hours duration -
            <span th:text="${entry.value}">Count</span> time(s)
        </li>
        <li>
            <span th:text="${amountOfDuplicateCourses}"> </span> - amount of duplicated durations of courses
        </li>
    </ul>
    <h2>Courses with Durations in Minutes</h2>
    <ul>
        <li th:each="course : ${streamCourseDurationsInMinutes}">
            <span th:text="${course}">Course Title - Duration in Minutes</span>
        </li>
    </ul>
    <h2>Courses from File (sort + filter(>=8,1...10))</h2>
    <ul>
        <li th:each="course : ${coursesFromFile}">
            <span th:text="${course.title}">Course Title</span>,
            <span th:text="${course.duration}">Course Duration</span> hour(s)
        </li>
    </ul>
</div>

<div>
    <h2>Students</h2>
    <ul>
        <li th:each="student : ${students}">
            <span th:text="${student.name}">Student Name</span>,
            <span th:text="${student.age}">Student Age</span> years old
        </li>
    </ul>

    <!-- Students containing "a" -->
    <h2>Filtered Students with letter "a"</h2>
    <ul>
        <li th:each="student : ${filteredStudents}">
            <span th:text="${student.name}">Student Name</span>,
            <span th:text="${student.age}">Student Age</span> years old
        </li>
    </ul>

    <h2>Duplicate Student Names</h2>
    <ul>
        <li th:each="entry : ${duplicateNames}">
            <span th:text="${entry.key}">Student Name</span> -
            <span th:text="${entry.value}">Count</span> time(s)
        </li>
        <li>
            <span th:text="${amountDuplicateNames}"> </span> - amount of duplicated names
        </li>
    </ul>
    <h2>Students from File (sort + filter)</h2>
    <ul>
        <li th:each="student : ${studentsFromFile}">
            <span th:text="${student.name}">Student Name</span>,
            <span th:text="${student.age}">Student Age</span> years old
        </li>
    </ul>

</div>

<div>
    <h2>Enrollments</h2>
    <ul>
        <li th:each="enrollment : ${enrollments}">
            <span th:text="${enrollment.student.name}">Student Name</span> enrolled in
            <span th:text="${enrollment.course.title}">Course Title</span>
        </li>
    </ul>
    <h2>Filtered by Student-name</h2>
    <ul>
        <li th:each="enrollment : ${streamEnrollmentsContainsSth}">
            <span th:text="${enrollment.student.name}">Student Name</span>,
            <span th:text="${enrollment.course.title}">Student course</span>,

        </li>
    </ul>
    <h2>Student's Enrollments</h2>
    <ul>
        <li th:each="entry : ${studentEnrollmentCounts}">
            <span th:text="${entry.key}">Student Name</span>,
            <span th:text="${entry.value}">Student course</span>,

        </li>
    </ul>
    <h2>Enrollments from file (sort + filter)</h2>
    <ul>
        <li th:each="enrollment : ${enrollmentsFromFile}">
            <span th:text="${enrollment.student.name}">Enrollment Student Name</span>,
            <span th:text="${enrollment.course.title}">Enrollment course title</span>
            (<span th:text="${enrollment.course.duration}">Enrollment course duration</span>)
        </li>
    </ul>
</div>
</div>
</body>
</html>
